<form #form="ngForm" novalidate>
  <fieldset>
    <legend>form</legend>
    {{ detail | json }}
    <div>
      <label for="fullname">Passenger name</label>
      <input
        type="text"
        name="fullname"
        id="fullname"
        #fullname="ngModel"
        [ngModel]="detail?.fullname"
        required
      />
      <div *ngIf="fullname.errors?.['required'] && fullname.dirty" class="error">
        Passenger name is required
      </div>
    </div>
    <div>
      <label for="id">Passenger ID:</label>
      <input
        type="number"
        name="id"
        id="id"
        [ngModel]="detail?.id"
        required
        #id="ngModel"
      />
      <div *ngIf="id.errors?.['required'] && id.dirty" class="error">
        <span>id is required</span>
      </div>
    </div>

    <div>
      <label for="checkedIn">
        <input
          type="checkbox"
          name="checkedIn"
          id="checkedIn"
          [ngModel]="detail?.checkedIn"
          (ngModelChange)="toggleCheckIn($event)"
        />
      </label>
    </div>

    <div *ngIf="form.value.checkedIn">
      <span>Check in date:</span>
      <input
        type="number"
        name="checkInDate"
        id=""
        [ngModel]="detail?.checkInDate"
      />
    </div>

    <div>
      <span>Luggage:</span>
      <select name="baggage" [ngModel]="detail?.baggage">
        <option
          *ngFor="let item of baggage"
          [value]="item.key"
          [selected]="item.key === detail?.baggage"
        >
          {{ item.value }}
        </option>
      </select>
    </div>
    <button type="submit" [disabled]="form.invalid">Update passenger</button>
  </fieldset>
</form>
