// .status {
//     width: 10px;
//     height: 10px;
//     background-color: #c0392b;
//     display: block;
//     margin: 8px 10px 0 0;
//     float: left;
//     border-radius: 50%;
//     &.checked-in {
//         background-color: #2ecc71;
//     }
// }
.wrapper {
  display: flex;
  flex-direction: column;
  height: 500px;
  overflow-y: scroll;
  margin-top: 1em;
  justify-content: space-evenly;
  &:nth-child(1n) {
    margin-bottom: 10px;
  }
}
